.container
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 200px;
    width: 600px;
    gap: 5px;
    border: 2px solid black;
}
.row1,.row2,.row3
{
    border: 1px dotted black;
}
.row1
{
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: beige;

}